workflows/ros2_get_camera_data.json
[{"createdAt":"2025-04-02T08:34:44.186Z","updatedAt":"2025-04-04T14:00:32.000Z","id":"7ZL6BqrAz65dyBRu","name":"ros2_get_camera_data","active":false,"nodes":[{"parameters":{"url":"http://192.168.6.120:8000/get_data","sendQuery":true,"queryParameters":{"parameters":[{"name":"topic","value":"={{ $json.topic }}"}]},"options":{"timeout":10000}},"id":"4b6878ec-8f9d-4d3c-a2a1-088b44a578e5","name":"ROS2WebInterface Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[40,-20]},{"parameters":{"setAllData":false,"options":{"encoding":"base64"}},"id":"ec8caea5-120f-4fb7-9627-7d97c57004b0","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[280,-20]},{"parameters":{"workflowInputs":{"values":[{"name":"topic"},{"name":"vlm_message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-300,-20],"id":"d8592785-2069-46c4-8b0b-ef662ef8befa","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://192.168.6.120:11434/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gemma3:27b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.vlm_system_message }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('When Executed by Another Workflow').item.json.vlm_message }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Move Binary Data').item.json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-20],"id":"3ead10db-3a78-492d-87e1-6cd9b7fffb6e","name":"HTTP Request"},{"parameters":{"operation":"write","fileName":"/tmp/robot_image","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[240,200],"id":"f60249b8-16e8-4f66-a121-c5e2248adb0d","name":"Read/Write Files from Disk"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[960,100],"id":"7df52f2f-b064-4e24-9726-9a3a7cde9802","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1180,100],"id":"f7c037a2-d631-43eb-81e8-954b703bd037","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"c7abcaa6-1393-4412-a478-0263dbe0962c","name":"content","value":"={{ $json.data[0].choices[0].message.content }}","type":"string"},{"id":"e968ae0a-b93e-4434-a3b3-ef4a14042d03","name":"fileName","value":"={{ $json.data[1].fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,100],"id":"e2435f96-46d9-4d13-ae2c-06258332679b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"92a53d2a-37c3-4c72-8819-442b8bb82ff1","name":"vlm_system_message","value":"You are a Vision-Language Model that analyzes images from industrial environments such as factories and power plants. Your task is to produce a detailed, objective description of the image. Your output is not a final answer, but a factual summary that helps another AI agent evaluate safety and detect hazards.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-20],"id":"60714e2b-7e55-4799-8733-b47d5b9df53e","name":"VLM System Message","alwaysOutputData":false}],"connections":{"ROS2WebInterface Request":{"main":[[{"node":"Move Binary Data","type":"main","index":0},{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"VLM System Message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"ROS2WebInterface Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"VLM System Message":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"topic":"/timon/camera/hand/image","vlm_message":"Please analyze this image for any potential hazards: helmets or tools on the floor, open or unsecured manholes, ladders or obstructions in walkways, broken safety barriers or fences, or damaged machinery or equipment."}}]},"versionId":"87232332-5da1-4d41-b814-fe29e51fcc83","triggerCount":0,"tags":[]}]