workflows/ros2-agent.json
[{"createdAt":"2025-04-02T08:34:18.193Z","updatedAt":"2025-04-02T09:11:21.000Z","id":"aY5NYuSO6A1cH9rX","name":"ros2-agent","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-280,60],"id":"0fd682cb-1bd7-4a16-9c2c-e2a2235a3a21","name":"When chat message received","webhookId":"971b0b62-a5df-4cd4-b9b2-ef271823f937"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=you are an AI assistant. You perform data queries and provide analysis.\nYou are working a Boston Dynamics Quadrupted Spot Robot and ask them about its environment and abouts state which can be queried using ROS2 topic. You should generate the correct ros2 topics based on the user input.\n\n## RULES\n\n- **always make sure the camera_name and robot_name parameters are lower case.**\n\n1. Use original query when calling tools.\n2. Use the get_image_from_robot tool to get the image from the specified robot and robot camera name. The tool will return a description of an image from the robot or \nquery from a Vision Language Model. \n\n** Example: \"Does robot_name currently see people?\" should generate the topic: \"/robot_name/camera/camera_name/image\" Detect the robot_name and camera_name from the user input. **\n\n3. If no camera name or robot name is specified ask the user for input. \n4. Use the get_data_from_robot tool to query states like battery, wifi, estop and so on. In order to retrieve the wifi state use: /robot_name/status/wifi, or for foot state use /robot_name/status/feet\n\nAdditional Information for Boston Dynamics Spot: \n\nBattery States:\nSTATUS_UNKNOWN\t0\tThe battery is in an unknown / unexpected state.\nSTATUS_MISSING\t1\tThe battery is not plugged in or otherwise not talking.\nSTATUS_CHARGING\t2\tThe battery is plugged in to shore power and charging.\nSTATUS_DISCHARGING\t3\tThe battery is not plugged into shore power and discharging.\nSTATUS_BOOTING\t4\tThe battery was just plugged in and is booting up= 3;\n\nWifi States: \nMODE_UNKNOWN\t0\tThe robot's comms state is unknown, or no user requested mode.\nMODE_ACCESS_POINT\t1\tThe robot is acting as an access point.\nMODE_CLIENT\t2\tThe robot is connected to a network.\n\nEstop states: \nSTATE_UNKNOWN\t0\tNo E-Stop information is present. Only happens in an error case.\nSTATE_ESTOPPED\t1\tE-Stop is active -- robot cannot power its actuators.\nSTATE_NOT_ESTOPPED\t2\tE-Stop is released -- robot may be able to power its actuators.\n\nAvailable Boston Dynamics Spot robot states ROS2 topics:\n{\"name\":\"/robot_name/status/battery_states\",\"types\":[\"spot_msgs/msg/BatteryStateArray\"]},{\"name\":\"/robot_name/status/end_effector_force\",\"types\":[\"geometry_msgs/msg/Vector3Stamped\"]},{\"name\":\"/robot_name/status/power_states\",\"types\":[\"spot_msgs/msg/PowerState\"]},{\"name\":\"/robot_name/status/feet\",\"types\":[\"spot_msgs/msg/FootStateArray\"]},{\"name\":\"/robot_name/status/system_faults\",\"types\":[\"spot_msgs/msg/SystemFaultState\"]},{\"name\":\"/robot_name/odometry\",\"types\":[\"nav_msgs/msg/Odometry\"]},{\"name\":\"/robot_name/status/estop\",\"types\":[\"spot_msgs/msg/EStopStateArray\"]},{\"name\":\"/robot_name/status/behavior_faults\n\n- **These are the available camera_names for Spot: **\n1. frontleft = /robot_name/camera/frontleft/image\n2. hand = /robot_name/camera/hand/image\n3. frontright = /robot_name/camera/frontright/image\n4. back = /robot_name/camera/back/image\n5. left = /robot_name/camera/left/image\n6. right = /robot_name/camera/right/image\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-20,60],"id":"0a7335f1-943c-4531-a7ad-f782a9dc98d3","name":"VLM Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[60,280],"id":"cd9f62d1-83e8-4916-ac4c-c80e075ea697","name":"Simple Memory"},{"parameters":{"name":"get_image_from_robot","description":"Call this tool to get an image from the specified robot. You have to provide a robot name and a camera name. \n\n## RULE\n**\nIf no camera or robot name is provided ask the user for input. **","workflowId":{"__rl":true,"value":"7ZL6BqrAz65dyBRu","mode":"list","cachedResultName":"get_ros2_camera_data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"topic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', ``, 'string') }}"},"matchingColumns":["topic"],"schema":[{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[400,320],"id":"8724aa9f-423f-48fc-b076-4eeb4a4e8061","name":"ROS2 Image Tool"},{"parameters":{"name":"get_data_from_robot","description":"Call this tool to get a topic data from the specified robot. You have to provide a robot name and topic name. wifi, power_states, foot, system_faults and so on.\n\n\n","workflowId":{"__rl":true,"value":"X42iNV4VrvoMTCSX","mode":"list","cachedResultName":"get_ros2_data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"topic":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', ``, 'string') }}"},"matchingColumns":["topic"],"schema":[{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[220,320],"id":"b99539bd-5ce3-4031-83d3-bdd68a0b81c1","name":"ROS2 Data Tool"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-120,280],"id":"aa753a68-61ef-4b7f-9804-5774cd8489f4","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"rLQzcMRU5ejPC6Tt","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"VLM Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"VLM Agent","type":"ai_memory","index":0}]]},"ROS2 Image Tool":{"ai_tool":[[{"node":"VLM Agent","type":"ai_tool","index":0}]]},"ROS2 Data Tool":{"ai_tool":[[{"node":"VLM Agent","type":"ai_tool","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"VLM Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d68500a0-27fd-4dca-b549-b625d8ce891c","triggerCount":0,"tags":[]},{"createdAt":"2025-04-02T08:34:33.096Z","updatedAt":"2025-04-02T08:39:39.000Z","id":"X42iNV4VrvoMTCSX","name":"get_ros2_data","active":false,"nodes":[{"parameters":{"url":"http://192.168.6.120:8000/get_data","sendQuery":true,"queryParameters":{"parameters":[{"name":"topic","value":"={{ $json.topic }}"}]},"options":{"timeout":10000}},"id":"4cadb9d8-f6b6-46d7-82d4-03038d534a9a","name":"ROS2WebInterface Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[340,0]},{"parameters":{"workflowInputs":{"values":[{"name":"topic"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"72c4ae4a-388d-44fd-b6b2-2bbc7f01a4ad","name":"When Executed by Another Workflow"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"ROS2WebInterface Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"498f5563-aa2f-4689-9c2a-4434c7a63846","triggerCount":0,"tags":[]},{"createdAt":"2025-04-02T08:34:44.186Z","updatedAt":"2025-04-02T09:02:14.000Z","id":"7ZL6BqrAz65dyBRu","name":"get_ros2_camera_data","active":false,"nodes":[{"parameters":{"url":"http://192.168.6.120:8000/get_data","sendQuery":true,"queryParameters":{"parameters":[{"name":"topic","value":"={{ $json.topic }}"}]},"options":{"timeout":10000}},"id":"4b6878ec-8f9d-4d3c-a2a1-088b44a578e5","name":"ROS2WebInterface Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[160,-20]},{"parameters":{"setAllData":false,"options":{"encoding":"base64"}},"id":"ec8caea5-120f-4fb7-9627-7d97c57004b0","name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[420,-20]},{"parameters":{"workflowInputs":{"values":[{"name":"topic"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-180,-20],"id":"d8592785-2069-46c4-8b0b-ef662ef8befa","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://192.168.6.120:11434/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gemma3:latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI that can analyze images. Your output is not the final answer instead you provide a detailed description of the image. Your output should specifically extract as much relevant information for the users query to allow another AI agent to provide an answer.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $json.chatInput }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,-20],"id":"3ead10db-3a78-492d-87e1-6cd9b7fffb6e","name":"HTTP Request"},{"parameters":{"operation":"write","fileName":"/tmp/robot_image","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[360,200],"id":"f60249b8-16e8-4f66-a121-c5e2248adb0d","name":"Read/Write Files from Disk"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[960,100],"id":"7df52f2f-b064-4e24-9726-9a3a7cde9802","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1180,100],"id":"f7c037a2-d631-43eb-81e8-954b703bd037","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"c7abcaa6-1393-4412-a478-0263dbe0962c","name":"content","value":"={{ $json.data[0].choices[0].message.content }}","type":"string"},{"id":"e968ae0a-b93e-4434-a3b3-ef4a14042d03","name":"fileName","value":"={{ $json.data[1].fileName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,100],"id":"e2435f96-46d9-4d13-ae2c-06258332679b","name":"Edit Fields"}],"connections":{"ROS2WebInterface Request":{"main":[[{"node":"Move Binary Data","type":"main","index":0},{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Move Binary Data":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"ROS2WebInterface Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f8d3d8f-e97e-40ab-8859-dc11e1ce63e6","triggerCount":0,"tags":[]}]